html {
   height: 100%;
   font-size: 16px;
}
body {
   font-size: 16px;
   padding-bottom: 2%;
   width: 100%;
   height: 100%;
 }
.container2 {
 display: grid;
 max-width: 6250rem;
 min-width: 5.25rem;
 height: 100%;
 position: relative;
 margin: 2%;
   grid-template-areas:
     "left sd"
     "left right";
     grid-gap: 1%;
   grid-template-rows: 0.25fr 1.75fr;
   grid-template-columns: 0.75fr 1.25fr;
   justify-content: stretch;
   background-color: linen;
}
.sidebar2 {
   grid-area: sd;
   background-color: linen;
   color: gray;
   display: fixed;
   flex-direction: row;
   font-family: 'Cormorant Garamond', serif;
   text-align: end;
   word-spacing: 0.625rem;
   float: right;
   letter-spacing: 0.09375rem;
   font-size: 1.3rem;
   margin-right: 2%;
 }
 ul .li{
   display: inline;
   padding-top: 1%;
   color: gray;
   text-decoration: none;
   color: gray;
}
 li{
   display: inline;
 }
.z{
   text-decoration: none;
   color:gray;
}
.z:hover{
  cursor: pointer;
  color: lightgrey;
  }
.z:visited{
    text-decoration: none;
    color: gray;
}

.abme {
    display: relative;
    grid-area: right;
    color: gray;
    font-family: 'Cormorant Garamond', serif;
    padding-right: 4%;
    font-size: 1rem;
    line-height: 1.9em;
}
.abme {
   -webkit-animation: fadein 4s;
}

@keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}
@-webkit-keyframes fadein {
 from { opacity: 0; }
 to   { opacity: 1; }
}

.abme h1 {
    font-size: 4vw;
}
.abme h1 {
   -webkit-animation: fadein 4s;
 }
 
 @keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
 }
 @-webkit-keyframes fadein {
   from { opacity: 0; }
   to   { opacity: 1; }
 }
 .link{
   text-decoration: none;
   font-weight: bold;
   color: grey;
   font-style: oblique;
}
.link:visited{
   text-decoration: none;
   color: grey;
   font-style: oblique;
}
.special {
   
   font-size: 5vw;
}
.link:hover {
   text-decoration: underline;
}

.picture {
   display: grid;
   grid-area: left;
   background-color: #f6e3d1;
}
