.container2 {
    display: grid;
    max-width: 10000px;
    min-width: 320px;
    position: relative;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 4%;
    grid-template-areas: 
      "sd sd sd sd sd"
      "sd sd sd sd sd"
      "left left left right right"
      "left left left right right"
      "left left left right right"
      "right1 right1 left1 left1 left1"
      "right1 right1 left1 left1 left1"
      "right1 right1 left1 left1 left1";
      grid-gap: 1%;
    grid-template-rows: 30px 40px 50px 150px 100px 100px 150px 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: stretch;
    background-color: linen;
}

.sidebar2 {
    grid-area: sd;
    background-color: linen;
    color: gray;
    display: fixed;
    flex-direction: row;
    font-family: 'Cormorant Garamond', serif;
    text-align: end;
    padding-top: 2%;
    word-spacing: 10px;
    float: right;
    letter-spacing: 1.5px;
    padding-bottom: 4%;
    margin-top: 3%;
    padding-right: 2%;
    font-size: 1.3rem;
  }
  ul .li{
    display: inline;
    padding-top: 1%;
    color: gray;
    text-decoration: none;
    color: gray;
}

li{
    display: inline;

}
.z{
    text-decoration: none;
    color:gray;
}
.z:hover{
   cursor: pointer;
   color: lightgrey;
   }
.z:visited{
     text-decoration: none;
     color: gray;
 }
.okok{
    width: 400px;
    height: 267px;
    border-radius: 2px;
    display: grid;
    grid-area: 2 / 1 / 2 / 5;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.picture{
   display: grid;
   grid-area: 1 / 1 / 8 / 2;
   background-color: #f6e3d1;
   transition: transform 2s;
   padding-bottom: 3rem;
}
.picture {
    -webkit-animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 2; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.abme{
    display: grid;
    grid-area: 1 / 2 / 5 / 5;
    font-size: 70px;
    color: lightgray;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 8%;
  
  }
  
  .abme p{
    display: grid;
    grid-area: 1 / 3 / 6 / 4;
    font-size: 20px;
    color: grey;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 35%;
    line-height: 1.9rem;
    text-decoration: none;
  }

  .abme h1 {
    -webkit-animation: fadein 4s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

.link{
    text-decoration: none;
    font-weight: bold;
    color: grey;
    font-style: oblique;
}
.link:visited{
    text-decoration: none;
    color: grey;
    font-style: oblique;
}
.special {
    display: inline!important;
}
.link:hover {
    text-decoration: underline;
}
