@media only screen and (max-width: 5600px) {
    body {
        font-size: 16px;
    }
    .container {
        display: grid;
        max-width: 6250rem;
        min-width: 5.25rem;
        position: relative;
        margin-right: 3%;
        margin-left: 3%;
        margin-top: 1%;
        margin-bottom: 4%;
        grid-template-areas: 
          "hd hd sd sd sd"
          "hd hd sd sd sd"
          "left left right right right"
          "left left right right right"
          "yelp yelp yelp idk idk"
          "yelp yelp yelp idk idk"
          "right1 right1 left1 left1 left1"
          "right1 right1 left1 left1 left1"
          "r r r r r";
        row-gap: 1.8%;
        column-gap: 0.5%;  
        grid-template-rows: 25% 25% repeat(7, 45%);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: stretch;   
    }
    .project {
        animation: fadein 2s;
    }
    @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 2; }
    }
    @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
    }
    }
    .sidebar{
      grid-area: sd;
      background-color: white;
      color: gray;
      display: fixed;
      flex-direction: row;
      font-family: 'Cormorant Garamond', serif;
      text-align: end;
      padding-top: 2%;
      word-spacing: 0.625rem;
      float: right;
      letter-spacing: 0.09375rem;
      padding-bottom: 4%;
      margin-top: 3%;
      font-size: 1.3rem;
  }
  ul .li{
    display: inline;
    padding-top: 1%;
    color: gray;
    text-decoration: none;
    color: gray;
}
   li{
    display: inline;
}
   .z{
    text-decoration: none;
    color:gray;
}
   .z:hover{
   cursor: pointer;
}
   .z:visited{
     text-decoration: none;
     color: gray;
 }
.welcome{
   grid-area: hd;
   background-color: white;
   display: flex;
   float: left;
   padding-top: 3.5rem;
   padding-left: 0.9375rem;
   padding-bottom: 0rem;
   font-family: 'Cormorant Garamond', serif;
   letter-spacing: 0.09375rem;
   font-size: 1.75rem;
   line-height: 1.75rem;
   color: gray;
   }

 .soccer{
    font-family: 'Cormorant Garamond', serif;
    color: gray;
    text-decoration: none;
    background-color: linen;
    display: grid;
    grid-area: left;
    justify-content: flex-start; 
    font-size: 2rem;
    padding-left: 1rem;  
}


.soccer a{
    text-decoration: none;
    color: gray;
    grid-area: left; 
}
.soccer:hover a{
    font-size: 2.5rem;
    transition: font-size 1s ease;
    padding-left: 0rem;
}
.soccer a:visited{
    text-decoration: none;
    color: gray;
}

.rps {
    font-family: 'Cormorant Garamond', serif;
    color: gray;
    text-decoration: none;
    background-color: linen;
    display: grid;
    grid-area: right;
    justify-content: flex-start;
    font-size: 2rem;
}
.rps a{
    text-decoration: none;
    color: gray;
    grid-area: left;
    font-size: 2rem;
    padding-left: 1rem;
}
.rps:hover a{
    font-size: 2.5rem;
    transition: font-size 1s ease;
    padding-left: 0rem;
    padding-left: 1rem;
}

.rps:visited a{
    text-decoration: none;
    color: gray;
}
.yelp {
    font-family: 'Cormorant Garamond', serif;
    color: gray;
    text-decoration: none;
    background-color: linen;
    display: grid;
    grid-area: yelp;
    justify-content: start;
    font-size: 2rem;
    padding-left: 1rem;
}
.yelp a:visited{
    text-decoration: none;
    color: gray;
}
.yelp a{
    text-decoration: none;
    color: gray;
    grid-area: left;
    justify-content: start;

}
.yelp:hover a{
    font-size: 2.5rem;
    transition: font-size 1s ease;
    padding-left: 0rem;
}

.fb {
    font-family: 'Cormorant Garamond', serif;
    color: gray;
    text-decoration: none;
    background-color: linen;
    display: grid;
    grid-area: idk;
    justify-content: start;
    font-size: 2rem;
    padding-left: 1rem;
}
.fb a:visited{
    text-decoration: none;
    color: gray;
}
.fb a{
    text-decoration: none;
    color: gray;
    grid-area: left;
    justify-content: start;
   
}
.fb:hover a{
    font-size: 2.5rem;
    transition: font-size 1s ease;
    padding-left: 0rem;
}

.oyt {
    font-family: 'Cormorant Garamond', serif;
    color: gray;
    text-decoration: none;
    background-color: linen;
    display: grid;
    grid-area: right1;
    justify-content: flex-start; 
    font-size: 2rem;
    padding-left: 1rem;  
    margin-bottom: 1rem;
}
.oyt:hover a{
    font-size: 2.5rem;
    transition: font-size 1s ease;
    padding-left: 0rem;
}

.oyt a:hover {
    text-decoration: none;
    color: gray;
}
.oyt a{
    text-decoration: none;
    color: gray;
    grid-area: left;
    justify-content: start;
}

.rd {
    font-family: 'Cormorant Garamond', serif;
    color: gray;
    text-decoration: none;
    background-color: linen;
    display: grid;
    grid-area: left1;
    justify-content: flex-start; 
    font-size: 2rem;
    padding-left: 1rem;  
    margin-bottom: 1rem;
}
.rd a:hover {
    text-decoration: none;
    color: gray;
}
.rd a{
    text-decoration: none;
    color: gray;
    grid-area: left;
    justify-content: start;
}
.rd:hover a{
    font-size: 2.5rem;
    transition: font-size 1s ease;
    padding-left: 0rem;
}

}
